/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/
@import "scss/ionic.app.scss";

.pane,
.view {
  background-color: #1E537E;
  color: white;
}
.logo {
  margin: 0 auto;
  display: block;
  margin-top: 100px;
}

/**
 * LAYOUT
 */
/**
 * MENU
 */
/**
 * VIEWS
 */
